In [1]:
import pandas as pd

print("ss")

ss

In [2]:
def fasta_reader(sequence_file):
    lines = open(sequence_file).readlines()
    sequence_name_row = lines[0][1:]
    sequence = lines[1]
    return sequence_name_row.replace(" ", "").strip(), sequence.strip()

In [8]:
import pandas as pd
df = pd.read_csv(r'D:\潘子祺Workspace\Python\复现LMIINGI\positive_rna_pairs_dropna.csv')

,lncrna,mirna,Unnamed: 2,lncrna_seq,lncrna_id,Unnamed: 5,mirna_seq,mirna_id,pair_index
0,ENST00000448179.1,hsa-miR-136-5p,NaN,GTGCTCACACGCAGCTGGCAATGGCAAGTCAGTGGATTTAGGATAA...,-1,NaN,ACUCCAUUUGUUUUGAUGAUGGA,1,0
1,ENST00000448179.1,hsa-miR-148a-3p,NaN,GTGCTCACACGCAGCTGGCAATGGCAAGTCAGTGGATTTAGGATAA...,-1,NaN,UCAGUGCACUACAGAACUUUGU,2,1
2,ENST00000448179.1,hsa-miR-148b-3p,NaN,GTGCTCACACGCAGCTGGCAATGGCAAGTCAGTGGATTTAGGATAA...,-1,NaN,UCAGUGCAUCACAGAACUUUGU,3,2
3,ENST00000448179.1,hsa-miR-152-3p,NaN,GTGCTCACACGCAGCTGGCAATGGCAAGTCAGTGGATTTAGGATAA...,-1,NaN,UCAGUGCAUGACAGAACUUGG,4,3
4,ENST00000448179.1,hsa-miR-15a-5p,NaN,GTGCTCACACGCAGCTGGCAATGGCAAGTCAGTGGATTTAGGATAA...,-1,NaN,UAGCAGCACAUAAUGGUUUGUG,5,4
...,...,...,...,...,...,...,...,...,...
15350,ENST00000427022.1,hsa-miR-487b-3p,NaN,AGCTGCTCTAGAATGTAGCAATGGTGGGCTCCTTTGGGGGCCATCT...,-375,NaN,AAUCGUACAGGGUCAUCCACUU,260,15350
15351,ENST00000445938.1,hsa-miR-503-5p,NaN,GGGAACAATCTCCTCGTTCCAGAAGGGCAGGGCCCGGGCAATGGTG...,-492,NaN,UAGCAGCGGGAACAGUUCUGCAG,261,15351
15352,ENST00000425727.1,hsa-miR-503-5p,NaN,CGACGCTCCTGGGGGACACAGGCACGCTGCTTTCCCTCCCAAGCCA...,-493,NaN,UAGCAGCGGGAACAGUUCUGCAG,261,15352
15353,ENST00000427458.1,hsa-miR-503-5p,NaN,ATTTCCAGAGAGACCATTAGGAACAGACTGCCTGCGCTGCTGACTT...,-499,NaN,UAGCAGCGGGAACAGUUCUGCAG,261,15353
15354,ENST00000441539.1,hsa-miR-503-5p,NaN,GGTTCACTGATACCTGTGTTATAGAACCACCATCAAGTGAAAATTG...,-500,NaN,UAGCAGCGGGAACAGUUCUGCAG,261,15354

In [11]:
print(df['lncrna'][15351])

ENST00000445938.1

In [12]:
l_id = df['lncrna_id']
l_id

0         -1
1         -1
2         -1
3         -1
4         -1
        ...
15350   -375
15351   -492
15352   -493
15353   -499
15354   -500
Name: lncrna_id, Length: 15355, dtype: int64

In [15]:
data = pd.read_csv(r'D:\潘子祺Workspace\Python\复现LMIINGI\positive_rna_pairs_dropna.csv')

lncrna = pd.DataFrame(index=None)
lncrna['seq'] = data['lncrna_seq'].drop_duplicates()
lncrna['id'] = data['lncrna_id'].drop_duplicates()
lncrna.set_index(['id'], inplace=True)

id = data['lncrna_id'].drop_duplicates()

df = pd.DataFrame(data=0, index=id, columns=id)
df

lncrna_id,-1,-29,-172,-173,-174,-175,-176,-307,-336,-337,...,-882,-340,-341,-946,-947,-375,-492,-493,-499,-500
lncrna_id,,,,,,,,,,,,,,,,,,,,,
-1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-172,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-173,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
-375,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-492,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-493,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
print(df.ix[-1].index.values[0])

In [40]:
import swalign
import pandas as pd

data = pd.read_csv(r'D:\潘子祺Workspace\Python\复现LMIINGI\positive_rna_pairs_dropna.csv')

lncrna = pd.DataFrame(index=None)
lncrna['seq'] = data['lncrna_seq'].drop_duplicates()
lncrna['id'] = data['lncrna_id'].drop_duplicates()
lncrna.set_index(['id'], inplace=True)

seq_1 =  lncrna['seq'][-1]
seq_2 = lncrna['seq'][-29]

match = 2
mismatch = -1
scoring = swalign.NucleotideScoringMatrix(match, mismatch)
sw = swalign.LocalAlignment(scoring)
if seq_1 == seq_2:
    score = 1
else:
    alignment = sw.align(seq_1, seq_2)
    match = alignment.matches
    score = match/(max(len(seq_1),len(seq_2)))

print(score)

0.12290502793296089

In [21]:
seq = lncrna['seq'].tolist()
print(len(seq[0]),len(seq[1]))

3043 514

In [26]:
lncnum = data['lncrna_id'].drop_duplicates()
minum = data['mirna_id'].drop_duplicates()
print(lncnum,minum)

0         -1
20       -29
21      -172
41      -173
61      -174
        ...
15350   -375
15351   -492
15352   -493
15353   -499
15354   -500
Name: lncrna_id, Length: 1642, dtype: int64 0          1
1          2
2          3
3          4
4          5
        ...
9710     189
10279    262
10386     31
13618    265
15350    260
Name: mirna_id, Length: 266, dtype: int64

In [124]:
data = pd.read_csv(r'D:\潘子祺Workspace\Python\复现LMIINGI\positive_rna_pairs_dropna.csv')

lid = data['lncrna_id'].drop_duplicates().tolist()
mid = data['mirna_id'].drop_duplicates().tolist()
ldf = pd.DataFrame(lid).set_index([0])
ldf['id'] = list(range(1,1643))
mdf = pd.DataFrame(mid).set_index([0])
mdf['id'] = list(range(1,267))
ldf

        id
0
-1       1
-29      2
-172     3
-173     4
-174     5
...    ...
-375  1638
-492  1639
-493  1640
-499  1641
-500  1642

[1642 rows x 1 columns]

In [74]:
pair = pd.DataFrame()
pair['lnc'] = data['lncrna_id']
pair['mi'] = data['mirna_id']
print(pair['mi'])
for i in range(15355):
    pair['lnc'][i] = ldf['id'][pair['lnc'][i]]
    pair['mi'][i] = mdf['id'][pair['mi'][i]]

pair

pair.to_csv("pair.csv")

0          1
1          2
2          3
3          4
4          5
        ...
15350    260
15351    261
15352    261
15353    261
15354    261
Name: mi, Length: 15355, dtype: int64

In [121]:
grades = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio',
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)

def convert_to_letter(score, str):
    if (score >= 90):
        return 'A'
    elif (score >= 80):
        return 'B'
    elif (score >= 70):
        return 'C'
    elif (score >= 60):
        return 'D'
    else:
        return str

grades['exam1res'] = grades['exam1'].apply(convert_to_letter, args = ('傻逼',))
grades

         exam1  exam2 exam1res
Andre       43     24       傻逼
Barry       81     63        B
Chris       78     56        C
Dan         75     56        C
Emilio      89     67        B
Fred        70     51        C
Greta       91     79        A
Humbert     65     46        D
Ivan        98     72        A
James       87     60        B

# 这波懒得建一个新文件，在这里边写边调试算了

In [137]:
import swalign
import pandas as pd
import numpy as np
import time

def smith(seq_1, seq_2):
    match = 2
    mismatch = -1
    scoring = swalign.NucleotideScoringMatrix(match, mismatch)
    sw = swalign.LocalAlignment(scoring)
    if seq_1 == seq_2:
        return 1
    else:
        alignment = sw.align(seq_1, seq_2)
        match = alignment.matches
        score = match/(max(len(seq_1),len(seq_2)))
        return score

def calc(x, i):
    seq_1 = ldf['seq'][x]
    seq_2 = ldf['seq'][i]
    return smith(seq_1, seq_2)

data = pd.read_csv(r'D:\潘子祺Workspace\Python\复现LMIINGI\positive_rna_pairs_dropna.csv')

lnc_id = data['lncrna_id'].drop_duplicates().tolist()
lnc_sq = data['lncrna_seq'].drop_duplicates().tolist()
ldf = pd.DataFrame(lnc_id)
ldf['seq'] = pd.DataFrame(lnc_sq)

# df = pd.DataFrame(np.arange(1642).reshape(1642,1))
# for i in range(1,1642):
#     df[i] = df[0]
#
# for i in range(0,1642):
#     df[i] = df[i].apply(calc, args=(i,))

ldf

        0                                                seq
0      -1  GTGCTCACACGCAGCTGGCAATGGCAAGTCAGTGGATTTAGGATAA...
1     -29  CAGGGTTCTGGGCTGTGGTAAAAATTACGATTTTCCACAAGACTAT...
2    -172  GGTTCATGATGACACAGGACCTTGTCTGAACATAATGATTTCAAAA...
3    -173  TTCCCCGGAGAAGTTGTCATGGGAGGCCAGCCGCCTGCTGGCAAGG...
4    -174  GTGGCTCTCCATGCCTACCTGTGGTCTCTTGGACACCCTTGCAGAA...
...   ...                                                ...
1637 -375  AGCTGCTCTAGAATGTAGCAATGGTGGGCTCCTTTGGGGGCCATCT...
1638 -492  GGGAACAATCTCCTCGTTCCAGAAGGGCAGGGCCCGGGCAATGGTG...
1639 -493  CGACGCTCCTGGGGGACACAGGCACGCTGCTTTCCCTCCCAAGCCA...
1640 -499  ATTTCCAGAGAGACCATTAGGAACAGACTGCCTGCGCTGCTGACTT...
1641 -500  GGTTCACTGATACCTGTGTTATAGAACCACCATCAAGTGAAAATTG...

[1642 rows x 2 columns]

In [151]:
df = pd.DataFrame(np.arange(1642).reshape(1,1642))
x = pd.DataFrame()
x = x.append([df]*1642, ignore_index=True)
df = pd.DataFrame(x.values.T, index=x.columns, columns=x.index, dtype=float)

df

,0,1,2,3,4,5,6,7,8,9,...,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
3,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
4,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1637,1637,1637,1637,1637,1637,1637,1637,1637,1637,1637,...,1637,1637,1637,1637,1637,1637,1637,1637,1637,1637
1638,1638,1638,1638,1638,1638,1638,1638,1638,1638,1638,...,1638,1638,1638,1638,1638,1638,1638,1638,1638,1638
1639,1639,1639,1639,1639,1639,1639,1639,1639,1639,1639,...,1639,1639,1639,1639,1639,1639,1639,1639,1639,1639
1640,1640,1640,1640,1640,1640,1640,1640,1640,1640,1640,...,1640,1640,1640,1640,1640,1640,1640,1640,1640,1640
1641,1641,1641,1641,1641,1641,1641,1641,1641,1641,1641,...,1641,1641,1641,1641,1641,1641,1641,1641,1641,1641

In [153]:
x = 'sha'
print(x+'bi')

shabi

In [51]:
import pandas as pd
import re
path = r'D:\潘子祺Workspace\Python\复现LMIINGI\cudasw++\qprf1_mirna_sw.csv'

smith_df = pd.read_csv(path)
# smith_df = smith_df.set_index(['0'])
text = smith_df['1'][3]
print(text)
rna = text.split(' -- ')[1]
score = int(re.findall('\d+', text.split(' -- ')[0])[0])
print(rna, score)
smith_df

score: 12915 -- hsa-miR-148a-3p
hsa-miR-148a-3p 12915

,0,1,2,3,4,5,6,7,8,9,...,257,258,259,260,261,262,263,264,265,266
0,hsa-miR-136-5p,score: 119 -- hsa-miR-136-5p,score: 105 -- hsa-miR-876-5p,score: 98 -- hsa-miR-200c-3p,score: 90 -- hsa-miR-22-3p,score: 90 -- hsa-miR-216b-5p,score: 89 -- hsa-miR-141-3p,score: 88 -- hsa-miR-874-3p,score: 87 -- hsa-miR-200b-3p,score: 87 -- hsa-miR-10a-5p,...,score: 49 -- hsa-let-7b-5p,score: 49 -- hsa-miR-496,score: 48 -- hsa-miR-4295,score: 45 -- hsa-let-7i-5p,score: 44 -- hsa-miR-4500,score: 44 -- hsa-miR-590-3p,score: 43 -- hsa-miR-613,score: 42 -- hsa-miR-488-3p,score: 42 -- hsa-miR-450a-5p,score: 37 -- hsa-miR-599
1,hsa-miR-148a-3p,score: 17499 -- hsa-miR-148a-3p,score: 139 -- hsa-miR-148b-3p,score: 130 -- hsa-miR-152-3p,score: 120 -- hsa-miR-214-3p,score: 111 -- hsa-miR-193a-3p,score: 110 -- hsa-miR-3139,score: 109 -- hsa-miR-1271-5p,score: 106 -- hsa-miR-24-3p,score: 106 -- hsa-miR-372-3p,...,score: 57 -- hsa-miR-590-3p,score: 56 -- hsa-miR-98-5p,score: 55 -- hsa-miR-320d,score: 54 -- hsa-miR-320c,score: 54 -- hsa-miR-4500,score: 53 -- hsa-let-7a-5p,score: 53 -- hsa-let-7e-5p,score: 52 -- hsa-let-7c-5p,score: 50 -- hsa-let-7b-5p,score: 49 -- hsa-miR-190a-5p
2,hsa-miR-148b-3p,score: 17496 -- hsa-miR-148a-3p,score: 143 -- hsa-miR-148b-3p,score: 126 -- hsa-miR-152-3p,score: 121 -- hsa-miR-214-3p,score: 111 -- hsa-miR-876-5p,score: 109 -- hsa-miR-1271-5p,score: 109 -- hsa-miR-24-3p,score: 108 -- hsa-miR-193a-3p,score: 106 -- hsa-miR-3139,...,score: 58 -- hsa-miR-4458,score: 57 -- hsa-miR-590-3p,score: 57 -- hsa-let-7a-5p,score: 56 -- hsa-let-7c-5p,score: 55 -- hsa-miR-320c,score: 55 -- hsa-miR-320d,score: 54 -- hsa-miR-4500,score: 53 -- hsa-let-7e-5p,score: 51 -- hsa-let-7b-5p,score: 49 -- hsa-miR-190a-5p
3,hsa-miR-152-3p,score: 12915 -- hsa-miR-148a-3p,score: 148 -- hsa-miR-152-3p,score: 126 -- hsa-miR-148b-3p,score: 123 -- hsa-miR-214-3p,score: 115 -- hsa-miR-378i,score: 115 -- hsa-miR-24-3p,score: 111 -- hsa-miR-17-5p,score: 111 -- hsa-miR-210-3p,score: 109 -- hsa-miR-3619-5p,...,score: 67 -- hsa-miR-211-5p,score: 67 -- hsa-miR-450a-5p,score: 66 -- hsa-miR-98-5p,score: 65 -- hsa-miR-384,score: 65 -- hsa-miR-154-5p,score: 63 -- hsa-miR-296-3p,score: 63 -- hsa-let-7a-5p,score: 62 -- hsa-miR-4500,score: 62 -- hsa-miR-590-3p,score: 62 -- hsa-miR-190a-5p
4,hsa-miR-15a-5p,score: 17488 -- hsa-miR-15a-5p,score: 118 -- hsa-miR-214-3p,score: 117 -- hsa-miR-16-5p,score: 113 -- hsa-miR-195-5p,score: 112 -- hsa-miR-497-5p,score: 109 -- hsa-miR-15b-5p,score: 106 -- hsa-miR-421,score: 102 -- hsa-miR-103a-3p,score: 101 -- hsa-miR-153-3p,...,score: 58 -- hsa-miR-328-3p,score: 57 -- hsa-miR-384,score: 57 -- hsa-miR-149-5p,score: 57 -- hsa-miR-211-5p,score: 56 -- hsa-miR-326,score: 56 -- hsa-miR-613,score: 54 -- hsa-miR-296-3p,score: 51 -- hsa-miR-590-3p,score: 49 -- hsa-miR-299-3p,score: 45 -- hsa-miR-4500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,hsa-miR-451a,score: 141 -- hsa-miR-451a,score: 115 -- hsa-miR-100-5p,score: 108 -- hsa-miR-99a-5p,score: 106 -- hsa-miR-363-3p,score: 105 -- hsa-miR-214-3p,score: 105 -- hsa-miR-216a-5p,score: 105 -- hsa-miR-30d-5p,score: 105 -- hsa-miR-191-5p,score: 104 -- hsa-miR-425-5p,...,score: 50 -- hsa-miR-4295,score: 49 -- hsa-let-7f-5p,score: 47 -- hsa-miR-4458,score: 45 -- hsa-miR-98-5p,score: 42 -- hsa-let-7a-5p,score: 42 -- hsa-let-7c-5p,score: 42 -- hsa-let-7i-5p,score: 41 -- hsa-let-7e-5p,score: 39 -- hsa-let-7b-5p,score: 37 -- hsa-miR-4500
262,hsa-miR-219a-5p,score: 17479 -- hsa-miR-876-5p,score: 134 -- hsa-miR-219a-5p,score: 102 -- hsa-miR-19a-3p,score: 102 -- hsa-miR-19b-3p,score: 101 -- hsa-miR-4782-3p,score: 99 -- hsa-miR-191-5p,score: 97 -- hsa-miR-214-3p,score: 96 -- hsa-miR-24-3p,score: 96 -- hsa-miR-215-5p,...,score: 50 -- hsa-let-7i-5p,score: 49 -- hsa-let-7a-5p,score: 49 -- hsa-let-7e-5p,score: 49 -- hsa-miR-3529-5p,score: 46 -- hsa-miR-320c,score: 46 -- hsa-miR-320d,score: 45 -- hsa-miR-196a-5p,score: 44 -- hsa-let-7c-5p,score: 44 -- hsa-miR-190a-5p,score: 39 -- hsa-let-7b-5p
263,hsa-miR-4782-3p,score: 21540 -- hsa-miR-876-5p,score: 121 -- hsa-miR-4782-3p,score: 101 -- hsa-miR-219a-5p,score: 99 -- hsa-miR-3139,score: 98 -- hsa-miR-24-3p,score: 97 -- hsa-miR-148b-3p,score: 95 -- hsa-miR-148a-3p,score: 95 -- hsa-miR-708-5p,score: 94 -- hsa-miR-214-3p,...,score: 49 -- hsa-miR-190a-5p,score: 48 -- hsa-miR-4500,score: 48 -- hsa-miR-98-5p,score: 47 -- hsa-miR-320c,score: 47 -- hsa-miR-196b-5p,score: 45 -- hsa-miR-196a-5p,score: 45 -- hsa-let-7a-5p,score: 45 -- hsa-let-7e-5p,score: 42 -- hsa-let-7c-5p,score: 38 -- hsa-let-7b-5p
264,hsa-miR-127-3p,score: 17488 -- hsa-miR-876-5p,score: 155 -- hsa-miR-127-3p,score: 118 -- hsa-miR-191-5p,score: 115 -- hsa-miR-874-3p,score: 114 -- hsa-miR-378a-3p,score: 112 -- hsa-miR-1271-5p,score: 111 -- hsa-miR-3619-5p,score: 111 -- hsa-miR-193b-3p,score: 111 -- hsa-miR-99b-5p,...,score: 61 -- hsa-miR-450a-5p,score: 60 -- hsa-miR-135a-5p,score: 60 -- hsa-let-7e-5p,score: 57 -- hsa-miR-4458,score: 57 -- hsa-miR-4500,score: 57 -- hsa-let-7f-5p,score: 56 -- hsa-let-7a-5p,score: 55 -- hsa-miR-98-5p,score: 54 -- hsa-miR-190a-5p,score: 50 -- hsa-miR-590-3p
265,hsa-miR-126-3p,score: 15456 -- hsa-miR-876-5p,score: 148 -- hsa-miR-126-3p,score: 114 -- hsa-miR-490-3p,score: 112 -- hsa-miR-378a-3p,score: 108 -- hsa-miR-99b-5p,score: 106 -- hsa-miR-378c,score: 104 -- hsa-miR-378i,score: 103 -- hsa-miR-200c-3p,score: 103 -- hsa-miR-192-5p,...,score: 61 -- hsa-miR-135b-5p,score: 61 -- hsa-miR-450a-5p,score: 60 -- hsa-miR-4500,score: 60 -- hsa-miR-135a-5p,score: 58 -- hsa-miR-142-3p,score: 57 -- hsa-miR-4295,score: 55 -- hsa-miR-302e,score: 55 -- hsa-miR-196a-5p,score: 53 -- hsa-miR-488-3p,score: 52 -- hsa-miR-613

In [35]:
rna_df = pd.DataFrame()
rna_df['name'] = smith_df['0']
rna_df['index'] = list(range(0,266))
rna_df['id'] = 'NA'
rna_df = rna_df.set_index(['name'])
rna_df

                 index  id
name
hsa-miR-136-5p       0  NA
hsa-miR-148a-3p      1  NA
hsa-miR-148b-3p      2  NA
hsa-miR-152-3p       3  NA
hsa-miR-15a-5p       4  NA
...                ...  ..
hsa-miR-451a       261  NA
hsa-miR-219a-5p    262  NA
hsa-miR-4782-3p    263  NA
hsa-miR-127-3p     264  NA
hsa-miR-126-3p     265  NA

[266 rows x 2 columns]

In [50]:
import numpy as np
num = 266
mat_df = pd.DataFrame(np.arange(num*num).reshape(num, num)).applymap(lambda x : 0)

mat_df

,0,1,2,3,4,5,6,7,8,9,...,256,257,258,259,260,261,262,263,264,265
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
263,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
264,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
265,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
print('ewni%sfjweoij'%1)

ewni1fjweoij